@model CreatePassword
@{
    ViewData["Title"] = "CreatePassword";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-sm-offset-3">
            <div class="card">
                <div class="card-header text-center" data-background-color="blue">
                    <h4 class="card-title">Create a Password </h4>
                </div>
                <div class="card-content">
                    <form asp-action="CreatePassword" class="form-signin" method="post" asp-controller="User">

                        <div class="card-content">
                            @if (ViewBag.SucessMessage != null)
                            {

                                <h3>@ViewBag.SucessMessage</h3>

                            }
                            else
                            {

                                @Html.HiddenFor(m => m.InvitedEmail)
                                @Html.HiddenFor(m => m.AccountId)
                                @Html.HiddenFor(m => m.FirstName)
                                @Html.HiddenFor(m => m.LastName)
                                @Html.HiddenFor(m => m.InvitedEmail)
                                @Html.HiddenFor(m => m.Permission)
                                @Html.HiddenFor(m => m.SystemPermission)
                                @Html.HiddenFor(m => m.VendorId)


                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Password</label>
                                        <input asp-for="Password" type="password" class="form-control" autocomplete="off">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="off">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
