
@inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettings


@model CitationViolationListItem
@{
    ViewData["Title"] = "Citation";
    var googleAppKey = AppSettings.Value.GoogleMapsAPIKey;
    var images = Model.CitationAttachment.Where(m => m.AttachmentType == CitationAttachmentType.Image);

}

@section styles
    {
    <environment names="@CityApp.Web.EnvironmentNames.DEVELOPMENT">
        <link href="~/css/Citation.css" rel="stylesheet" asp-append-version="true" />
    </environment>


    <environment names="@CityApp.Web.EnvironmentNames.NOT_DEVELOPMENT">
        <link href="~/css/Citation.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons">content_paste</i>
                </div>
                <div class="card-content">
                    <div class="clearfix">
                        <h3 class="card-title pull-left">Ticket <i>@Model.CitationNumber</i></h3>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-7">
                            @if (!String.IsNullOrEmpty(@Model.VideoUrl))
                            {
                                <div id="video-container">
                                    <video width="100%" id="citationVideo" height="300" controls>
                                        <source src="@Model.VideoUrl" type="video/mp4" id="videoSrc">
                                        Your browser does not support HTML5 video.
                                    </video>

                                </div>

                                <div class="row">

                                </div>

                                @foreach (var image in images)
                                {
                                    <div class="col-xs-3">
                                        <a href="@Html.Raw(CityApp.Common.Utilities.AWSHelper.GetS3Url(image.Key,AppSettings.Value.AmazonS3Url))" target="_blank"><img src="@Html.Raw(CityApp.Common.Utilities.AWSHelper.GetS3Url(image.Key,AppSettings.Value.AmazonS3Url))" class="img-responsive" /></a>
                                        <span class="txtsmall">@image.CreatedDate.ToString("MM/dd/yyyy hh:mm tt")</span>
                                    </div>
                                }

                            }
                            else if (!String.IsNullOrEmpty(@Model.ImageUrl))
                            {
                                <img src="@Model.ImageUrl" class="img-responsive citation-image" style="max-height:300px; width:auto" />
                            }
                            else
                            {
                                <div style="height: 200px;
                                width: 100%;
                                text-align: center;
                                vertical-align: middle;
                                line-height: 190px;
                                border-style: solid;
                                border-radius: 10px;
                                border-width: thin;
                                border-color: gray;
                                background-color: lightgrey;">
                                    <span>No media available</span>
                                </div>
                            }

                        </div>
                        <div class="col-xs-12 col-md-5 text-right">
                            <div class="row">
                                @if (Model.IsEdit)
                                {
                                    <div class="col-sm-6 pull-right text-right">
                                        <h4 class="card-title">
                                            <small>Captured on </small><br />

                                            <input asp-for="DisplayDate" class="form-control datetimepicker" placeholder="Created From">
                                        </h4>
                                    </div>
                                    <div class="col-sm-12 text-right ">
                                        <h4 class="card-title clscapturedby"><small>Captured by </small><br /><a style="color:#337ab7" asp-action="Edit" asp-route-Id="@Model.CreatedByID" asp-controller="AccountSettings"> @Model.CreatedBy </a><span class="snd-message btn-tooltip" id="sndMessage" displayName="@Model.CreatedBy" email="@Model.CreatedUserEmail" title="Send Message"><i class="material-icons">message</i></span></h4>
                                    </div>


                                }
                                else
                                {
                                    <div class="col-sm-12 text-right">
                                        <h4 class="card-title"><small>Captured on </small><br />@Model.Date</h4>
                                    </div>
                                    <div class="col-sm-12 text-right ">
                                        <h4 class="card-title clscapturedby"><small>Captured by </small><br />@Model.CreatedBy<span class="snd-message btn-tooltip" id="sndMessage" displayName="@Model.CreatedBy" email="@Model.CreatedUserEmail" title="Send Message"><i class="material-icons">message</i></span></h4>
                                    </div>
                                }


                                <div class="col-sm-12 text-right">
                                    <h4 class="card-title"><small>Location </small><br />@Model.LocationDescription</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-16">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="material-icons">attach_money</i>
                </div>
                <div class="card-content">
                        <a name="#editViolation"></a>
                        <h4 class="card-title pull-left">Payments</h4>
                        <!--  Here you can write extra buttons/actions for the toolbar   -->
                        <a asp-area="Admin" asp-action="CreatePayment" asp-route-citationId="@Model.Id" asp-route-accountId=" @Model.AccountId"class="btn btn-info fltrght btn-addcl pull-right">

                            <span class="btn-label">
                                <i class="material-icons">add</i>
                            </span>
                            Collect Payment<div class="ripple-container"></div>
                        </a><br />
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="clearFix">History</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-full-width table-striped">
                                <tr>
                                    <th>Charge Amount</th>
                                    <th>Citation Amount</th>
                                    <th>Processing Fee</th>
                                    <th>Type</th>
                                    <th>Created</th>
                                </tr>
                                @foreach (var payment in Model.Payments)
                                {
                                    var chargeAmount = payment.Status == PaymentType.Stripe ? payment.ChargeAmount / 100 : payment.ChargeAmount;
                                    <tr>
                                        <th><a asp-action="EditPayment" asp-route-citationId="@payment.Id" asp-route-accountid="@payment.AccountId"> @string.Format("{0:C}", (chargeAmount))</a></th>
                                        <th>@string.Format("{0:C}", (payment.CitationFineAmount))</th>
                                        <th>@string.Format("{0:C}", (payment.ProcessingFee))</th>
                                        <th>@payment.Status.ToString()</th>
                                        <th>@payment.CreateUtc.UTCToAccountLocalTime("Pacific Standard Time")</th>
                                    </tr>
                                }
                            </table>

                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @{
            var violationSectionClass = "col-xs-12 col-md-6";
            if (!Model.ViolationCustomRequiredFields.HasFlag(ViolationRequiredFields.VehicleInformation))
            {
                violationSectionClass = "col-xs-12";
            }
        }
        <div class="@violationSectionClass">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="material-icons">warning</i>
                </div>
                <div class="card-content">
                    <div class="clearfix">
                        <a name="#editViolation"></a>
                        <h4 class="card-title pull-left">Violation Details</h4>
                    </div>
                    <table class="table table-full-width table-striped">
                        @if (Model.IsEdit)
                        {
                            <tr>
                                <td><span class="metric-label">Violation</span></td>
                                <td>

                                    <select asp-for="ViolationId" ViolaId="@Model.ViolationId" asp-items="Model.ViolationList" class="form-control">
                                        <option value="00000000-0000-0000-0000-000000000000">Violation</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label">Fine Amount</span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="FineAmount" type="text" class="form-control">
                                        <span asp-validation-for="FineAmount" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label">Description/Comments</span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="Description" type="text" class="form-control">
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label">Location Details</span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="LocationDescription" type="text" class="form-control">
                                        <span asp-validation-for="LocationDescription" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorFirstName"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorFirstName" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorFirstName" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorLastName" class="control-label"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorLastName" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorLastName" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorAddress1" class="control-label"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorAddress1" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorAddress1" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorAddress2" class="control-label"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorAddress2" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorAddress2" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorCity" class="control-label"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorCity" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorCity" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorState" class="control-label"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorState" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorState" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorZip" class="control-label"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorZip" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorZip" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="metric-label"><label asp-for="ViolatorCountry" class="control-label"></label></span></td>
                                <td>
                                    <div class="form-group label-floating">
                                        <input asp-for="ViolatorCountry" type="text" class="form-control">
                                        <span asp-validation-for="ViolatorCountry" class="text-danger"></span>
                                    </div>

                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><span class="metric-label">Code</span></td>
                                <td><span class="metric-value">@Model.ViolationCode</span></td>
                            </tr>
                            <tr>
                                <td><span class="metric-label">Violation</span></td>
                                <td><span class="metric-value">@Model.DisplayName</span></td>
                            </tr>
                            <tr>
                                <td><span class="metric-label">Fine Amount</span></td>
                                <td><span class="metric-value">@Model.FineAmount</span></td>
                            </tr>
                            <tr>
                                <td><span class="metric-label">Description/Comments</span></td>
                                <td><span class="metric-value">@Model.Description</span></td>
                            </tr>
                            <tr>
                                <td><span class="metric-label">Location Details</span></td>
                                <td><span class="metric-value">@Model.LocationDescription</span></td>
                            </tr>
                            @*<tr>
                                    <td><span class="metric-label">Action</span></td>
                                    <td><span class="metric-value">@Model.DisplayActions</span></td>
                                </tr>*@
                        }
                    </table>
                    <br /><br />
                </div>
                <!--  end card  -->
            </div>
        </div>
        @if (Model.ViolationCustomRequiredFields.HasFlag(ViolationRequiredFields.VehicleInformation))
        {
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">directions_car</i>
                    </div>
                    <div class="card-content">
                        <div class="clearfix">
                            <h4 class="card-title pull-left">Vehicle Information</h4>
                        </div>
                        <table class="table table-full-width table-striped">
                            @if (Model.IsEdit)
                            {
                                <tr>
                                    <td><span class="metric-label">Plate</span></td>
                                    <td>
                                        <div class="form-group label-floating">
                                            <input asp-for="LicensePlate" type="text" class="form-control">
                                            <span asp-validation-for="LicensePlate" class="text-danger"></span>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">State</span></td>
                                    <td>

                                        <div class="form-group label-floating">
                                            <select asp-for="LicenseState" asp-items="Model.States" id="ddlAssignedTo" citationId="@Model.Id" class="form-control">
                                                <option value="">States</option>
                                            </select>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Vin</span></td>
                                    <td>
                                        <div class="form-group label-floating">
                                            <input asp-for="VinNumber" type="text" class="form-control">
                                            <span asp-validation-for="VinNumber" class="text-danger"></span>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Make</span></td>
                                    <td>
                                        <div class="form-group label-floating">
                                            <input asp-for="VehicleMake" type="text" class="form-control">
                                            <span asp-validation-for="VehicleMake" class="text-danger"></span>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Model</span></td>
                                    <td>

                                        <div class="form-group label-floating">
                                            <input asp-for="VehicleModel" type="text" class="form-control">
                                            <span asp-validation-for="VehicleModel" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Type</span></td>
                                    <td>

                                        <div class="form-group label-floating">
                                            <input asp-for="VehicleType" type="text" class="form-control">
                                            <span asp-validation-for="VehicleType" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Color</span></td>
                                    <td>
                                        <div class="form-group label-floating">
                                            <input asp-for="VehicleColor" type="text" class="form-control">
                                            <span asp-validation-for="VehicleColor" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><span class="metric-label">Plate</span></td>
                                    <td> <span class="metric-value">@Model.LicensePlate</span></td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">State</span></td>
                                    <td><span class="metric-value">@Model.LicenseState</span></td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Vin</span></td>
                                    <td><span class="metric-value">@Model.VinNumber</span></td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Make</span></td>
                                    <td><span class="metric-value">@Model.VehicleMake</span></td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Model</span></td>
                                    <td><span class="metric-value">@Model.VehicleModel</span></td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Type</span></td>
                                    <td><span class="metric-value">@Model.VehicleType</span></td>
                                </tr>
                                <tr>
                                    <td><span class="metric-label">Color</span></td>
                                    <td><span class="metric-value">@Model.VehicleColor</span></td>
                                </tr>
                            }

                        </table>
                    </div>
                    <!--  end card  -->
                </div>

            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs" data-background-color="blue" style="float:left;">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <div>
                                <input type="hidden" value="@Model.UploadMessage" id="hdnUploadMessage" />
                            </div>
                            <ul class="nav nav-tabs" data-tabs="tabs">

                                <li class="ml">
                                    <a href="#pill1" data-toggle="tab" aria-expanded="true">
                                        <i class="material-icons">location_on</i>
                                        Maps
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>

                                <li class="ml">
                                    <a href="#pill2" data-toggle="tab" aria-expanded="false">
                                        <i class="material-icons">question_answer</i>
                                        Comments
                                    </a>
                                </li>

                                <li class="ml">
                                    <a href="#pill4" data-toggle="tab" aria-expanded="false">
                                        <i class="material-icons">restore</i>
                                        Audit Log
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-content" style="margin-top:45px;">
                    <div class="tab-content">

                        <div class="tab-pane" id="pill1">
                            @Html.Partial("_Maps")
                        </div>

                    </div>

                </div>
            </div><!-- end content-->
        </div><!--  end card  -->
    </div><!-- end col-md-12 -->
</div><!-- end row -->

@section scripts
    {
    <script async defer
            src="@Html.Raw($"https://maps.googleapis.com/maps/api/js?key={googleAppKey}&libraries=visualization&callback=initMap")">
    </script>

    <script type="text/javascript">
        objCitation = {
            CitationUrl: '@Url.Action("UpdateCitationStatus", "Citations")',
            AssignUrl: '@Url.Action("UpdateCitationAssignTo", "Citations")',
            SaveCommentUrl: '@Url.Action("SaveComment", "Citations")',
            EditCommentUrl: '@Url.Action("EditComment", "Citations")',
            DeleteCommentUrl: '@Url.Action("DeleteComment", "Citations")',
            GetCommentsUrl: '@Url.Action("GetCommentsByCitationId", "Citations")',
            UnassignUrl:'@Url.Action("UnAssignUser", "Citations")',
            varlat:  @Model.Latitude,
            varlng: @Model.Longitude,
            s3BucketUrl:'@AppSettings.Value.AmazonS3Url',
            GetUrlByAttachment: '@Url.Action("GetUrlByAttachment", "Citations")',
            DownloadAttachment: '@Url.Action("DownloadAttachment", "Citations")',
            SendEvidencePackage: '@Url.Action("SendEvidencePackage", "Citations")',
            DeleteAttachment: '@Url.Action("DeleteAttachment", "Citations")',
            SaveVideoAttachment: '@Url.Action("SaveVideoAttachment", "Citations")',
            DeleteCitationUrl: '@Url.Action("DeleteCitation", "Citations")',
            GetCitationUrl: '@Url.Action("Index", "Citations")',
            SendMessageUrl: '@Url.Action("SendMessage", "AccountSettings")',
            citationNumber:@Model.CitationNumber,

        };
    </script>

    <environment names="@CityApp.Web.EnvironmentNames.DEVELOPMENT">
        <script src="~/js/citation/citation.js" asp-append-version="true"></script>
    </environment>

    <environment names="@CityApp.Web.EnvironmentNames.NOT_DEVELOPMENT">
        <script src="~/js/citation/citation.min.js" asp-append-version="true"></script>
    </environment>
}
