@model AccountUserViewModelEdit
@{
    ViewData["Title"] = "Edit Permissions";
    var globalViewData = (GlobalViewDataModel)ViewData[ViewDataKey.GlobalViewData];
    var loggedInUser = (LoggedInUser)ViewData[ViewDataKey.LoggedInUser];
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    @ViewData["Title"]
                </div>
                <div class="card-content">
                   
                    <form method="post" role="form" asp-antiforgery="true">
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.UserId)
                        @Html.HiddenFor(m => m.FirstName)
                        @Html.HiddenFor(m => m.LastName)
                        <div class="row mrgnTop30">
                            <div class="col-sm-12">
                                <div asp-validation-summary="ModelOnly"></div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <span><strong> @Model.DisplayName</strong></span>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group label-floating togglebutton">
                                        <label>
                                            <input type="checkbox" asp-for="Disabled"> Disabled
                                        </label>
                                    </div>                                    
                                </div>

                            </div>

                            <div class="row mt">
                                <div class="col-xs-12">
                                    <strong>Permissions</strong><br />
                                </div>
                            </div>
                            <div class="row">
                                @foreach (AccountPermissions permission in Enum.GetValues(typeof(AccountPermissions)))
                                {
                                    if (Model.Permissions.HasFlag(permission))
                                    {

                                        <div class="form-group col-sm-4 togglebutton">
                                            <label>
                                                <input type="checkbox" name="Permissions" checked="checked" value="@permission.ToString()" class="permission-checkbox permissionbox" />
                                                @permission.GetName()
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group col-sm-4 togglebutton">
                                            <label>
                                                <input type="checkbox" name="Permissions" value="@permission.ToString()" class="permission-checkbox permissionbox" />
                                                @permission.GetName()
                                            </label>
                                        </div>
                                    }

                                }
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-fill btn-rose">Update</button>

                                    <a asp-action="Users" asp-controller="AccountSettings" asp-route-accountNum="@globalViewData.AccountNumber"> Cancel</a>
                                </div>
                            </div>
                        </div>

                    </form>

                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

