@model CityApp.Web.Models.Vendors.AccountUserVendorListViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    Vendor Users
                </div>
                <div class="card-content">

                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills">
                                <li style="width: 33.3333%;">
                                    <a asp-action="Edit" asp-route-Id="@Model.Id" asp-controller="Vendors">Profile</a>
                                </li>
                                <li style="width: 33.3333%;" class="active">
                                    <a asp-action="Users" asp-route-Id="@Model.Id" asp-controller="Vendors">Users</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <a asp-area="" asp-action="Invite" asp-route-IsVendor="true" asp-route-VendorId="@Model.Id" asp-controller="AccountSettings" class="btn btn-info fltrght btn-addcl">
                        Invite
                    </a>

                    <div class="material-datatables responsivetable">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        <a asp-action="Users"
                                           asp-route-sortDirection="@Model.OppositeSortDirection"
                                           asp-route-sortOrder="@CityApp.Web.Models.Vendors.AccountUserVendorListViewModel.FullNameSortParam">
                                            Name
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-action="Users"
                                           asp-route-sortDirection="@Model.OppositeSortDirection"
                                           asp-route-sortOrder="@CityApp.Web.Models.Vendors.AccountUserVendorListViewModel.EmailSortParam">
                                            Email
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var vendor in Model.AccountUserVendorListItem)
                                {

                                    <tr>
                                        <td><a asp-controller="AccountSettings" style="color:#337ab7 !important" asp-action="Edit" asp-route-Id="@vendor.Id">@vendor.FirstName @vendor.LastName</a></td>
                                        <td><a asp-controller="AccountSettings" style="color:#337ab7 !important" asp-action="Edit" asp-route-Id="@vendor.Id">@vendor.Email</a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>

                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

